.navbar{
    background-color: aqua;
    height: 50px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
.nav-element{
    display: flex;
    gap: 80px;
    
}
.nav-item:hover{
    color: red;
    cursor: pointer;
}
.sign-up{
    padding: 7px 20px;
    background-color: #7a63f1;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.brand-icon{
    font-size: 34px;
    cursor: pointer;
    color: #7a63f1; 
}