.navbar{
    background-color: aqua;
    height: 50px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-left: 100px;
    padding-right: 100px;
}
.nav-element{
    display: flex;
    gap: 80px;
    
}
.nav-item:hover{
    color: red;
}