.car-title{
    font-size: 24px;
    font-weight: 200;
    line-height: 10px;
}
.car-name{
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
}
.car-button{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.detail-button{
    border: none;
    border-radius: 5px;
    padding: 12px;
}
.test-buuton{
    border: none;
    border-radius: 5px;
    padding: 12px;  
    background-color: #7a63f1;
    color: white;
}
.car-img{
    height: 330px;
    width: 600px;
}